.float-right{
    float: right;
}
/* first header*/
.first-header{
    height:100px;
   
   
}

.location-time{
    padding-left:20px;
    padding-top:10px;
}
#search{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:14px;
    padding-left:680px;
 
}
.search-text{
    padding-top:20px;
}
.search-wrapper {
   /* position: absolute;
    top:25px;
    left:680px;*/
    position: absolute;
    transform: translate(-100%, -0%);
    top:35%;
    left:95%;
}
.search-wrapper .input-holder {    
    height: 50px;
    width:100px;
    overflow: hidden;
    background: white;
    border-radius:10px;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    width:800px;
    border:2px solid rgb(228, 226, 226);
    background: rgb(255, 252, 252);
    *transition: all .5s cubic-bezier (0.000, 0.105, 0.035, 1.570) ;

   
}
.search-wrapper .input-holder .search-input {
    width:100%;
    height: 45px;
    padding-left:10px;
    padding-bottom:14px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:black;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
    width:50px;
    height:50px;
    border:none;
    background:white;
    padding-top:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
    width: 50px;
    height:50px;
margin-left:2px;
margin-top:1px;
   border:none;
   background: gray;
  
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:16px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}
.search-wrapper.active .close {
    right:-40px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: black;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}
.searchbar{
    font-size:24px;
    color:black;
 
}

/*navvar dropdown*/

  .navbar-custom{
      background-color:rgb(252, 250, 250);
      height:50px;
      border-top: 1px solid rgb(228, 226, 226);
  }
  .dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: block;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: 50%;
    }
    .dropdown-menu .dropdown-submenu{
        width: auto;
    }
}
@media (max-width: 62em) {

  
    .navbar-brand {
      float: right;
    }
  
    
  
   
  
  
@media (max-width: 576px) {

 }

