

@font-face {
    font-family: 'SolaimanLipi';
    src:url('SolaimanLipi.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  
body,
#panel {
    background-color: #eee;
    font-family: 'SolaimanLipi', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: rgb(245, 81, 82);
}

.text-color:hover {
    color: rgb(245, 81, 82);
}

.text-center {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    max-height: 400px;
}

.button-text {
    color: white;
}

/*mobile menu*/

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 300px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
    background-color: rgb(46, 46, 45);
}

#panel .toggle-button {
    background-color: transparent !important;
    border: 0;
    color: #bbb;
    font-size: 30px;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-top: 12px;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #fff;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

/*mobile logo*/

.menu-border {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    height: 72px;
}

.secondmenu {
    height: 50px;
    ;
}

.site-info {
    padding: 1.25rem;
}

#menu .button {
    font-size: 13px;
    padding: 5px 13px 5px 13px;
}

.menu-top {
    margin-top: 20px;
}

/* start menu category list*/

.vertical-submenu {
    position: relative;
}

.vertical-submenu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    display: block;
    padding: 1.4375rem 1rem;
}

.vertical-submenulist li a {
    color: rgb(245, 81, 82);
    margin-left: 17px;
    font-family: 'Merriweather', Georgia, Serif;
    font-size: 0.9375rem;
    font-weight: 900;
    line-height: 1;
}

.menu-item {
    position: relative;
}

.custom-toggle {
    color: rgb(245, 81, 82);
    background-color: rgb(46, 46, 45);
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    cursor: pointer;
    position: absolute;
    text-align: center;
    width: 40px;
    height: 60px;
    right: 0;
    top: -40px;
}

.custom-dropdownmenu {
    background-color: #202022;
}

.custom-dropdownmenu a {
    font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;
    font-size: 0.8125rem;
    font-weight: 400;
    padding: 12px;
}

/*end menu category list*/

/*end menu*/

/*start first-header*/

.first-header {
    height: 72px;
    background-color: rgb(46, 46, 45);
}

.header-bottom {
    border-bottom: 1px solid rgba(242, 242, 242, 0.05);
}

.morenews-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/*social links */

.social-icon {
    padding-top: 20px;
}

.icon-color {
    color: rgb(245, 81, 82);
}

.icon-border {
    background-color: rgba(255, 255, 255, 0.05);
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50px;
}

.social-icon li {
    display: inline;
}

/*end social links*/

/*starts logo*/

.logo-img {
    padding-left: 60px;
}

.logo-img img {
    height: 65px;
    width: 310px;
}

/*end logo.. start login*/

.logreg-button {
    color: white;
    padding: 7px 18px 7px 18px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
}

.log-reg {
    padding-top: 23px;
}

.log-color {
    background-color: rgba(255, 255, 255, 0.05);
}

.reg-color {
    background-color: rgb(0, 122, 204);
    margin-left: 10px;
}

/*end-first heade start second headerr*/

.second-header {
    height: 72px;
    background-color: rgb(46, 46, 45);
}

/*dropdown menu start*/

.navbar-custom {
    height: 72px;
}

.nav-item {
    font-size: 15px;
    font-weight: 900;
    padding: 15px 0 14px 0px;
}

.ddown {
    color: white;
}

.dropdown-item {
    color: rgb(245, 81, 82);
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    visibility: hidden;
}

.custom-dropdown:hover .dropdown-menu {
    display: block;
    background-color: rgb(46, 46, 45);
    position: absolute !important;
}

.custom-dropdown:hover {
    border-top: 1px solid rgb(245, 81, 82);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgb(245, 81, 82);
}

.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu:focus .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
    visibility: initial;
}

/*end drodown and start topic*/

/* start 3rd header*/

.third-header,
.search-header {
    background-color: #fff;
    height: 52px;
    border-bottom: 1px solid rgb(242, 242, 242);
}

.topic h5 {
    font-weight: 700;
    padding: 12px 20px 0 0;
}

.menu li {
    display: inline-block;
    padding-top: 10px;
}

.menu li a {
    color: gray;
    font-size: 13px;
    font-weight: 900;
    padding: 18px 12px;
}

/* start-search bar style*/

.search-bar {
    width: 320px;
    top: 8px;
    position: relative;
}

.search-bar input#search {
    width: 300px;
    height: 35px;
    border: 1px solid rgba(128,128,128,0.3);
    font-size: 16px;
    float: left;
    color: #63717f;
    padding-left: 25px;
    padding-right: 28px;
    border-radius: 5px;
}

.search-bar button {
    position: absolute;
    right: 35px;
    top: 6px;
    font-size: 14px;
    color: rgb(106, 106, 106);
    cursor: pointer;
    border: none;
    background-color: Transparent;
}

/* slider search*/

.mobile-search {
    width: 290px;
    position: relative;
}

.mobile-search input#search {
    width: 270px;
    height: 35px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.02);
    padding-left: 15px;
    padding-right: 20px;
}

.mobile-search button {
    position: absolute;
    top: 7px;
    right: 25px;
    cursor: pointer;
    border: none;
    background-color: Transparent;
    font-size: 15px;
}

.mobile_menu_search {
    padding: 10px 0px 10px 5px;
}

/*end*/

textarea:focus,
input:focus,
input[type]:focus,
button:focus,
.uneditable-input:focus {
    border-color: rgb(223, 223, 223);
    box-shadow: 0 1px 1px rgba(223, 223, 223, 0.075) inset, 0 0 8px rgba(223, 223, 223, 0.6);
    outline: 0 none;
}

/* start first portion*/

.first-portion {
    margin-top: 25px;
}

.news-div {
    background-color: #fff;
    position: relative;
    margin-bottom: 20px;
    min-height:240px;
}
.news-div img{
    height: 183px;
}
.main-div{
    min-height: 510px;
    max-height: 510px;
    overflow: hidden;
}
.main-div img{
    height: 300px;
}
.img-position {
    position: relative;
}

.news-link {
    padding: 10px 12px;
    min-height:100px;
   
}

.news-link h3 {
    font-size: 1.6em;
    margin: 0 0 15px;
    line-height: 40px;
    font-family: SolaimanLipi;
}

.news-link p, .catnews-link p {
    font-size: .93em;
    font-family: SolaimanLipi;
}

.category-tag {
    position: absolute;
    width: 100%;
    padding: 10px 18px 10px 15px;
    border-top: 1px solid #eee;
    background: #fff;
    bottom: 0;
    line-height: 16px;
}

.category-tag span,
.tags {
    font-size: 10px;
    color: #868686;
}

.category-tag a.float-right::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 12px;
    right: 7px;
    background: #b30f0f;
    top: 12px;
}

/* for small div*/
.subnews-div{
    min-height: 245px;
}
.subnews-div img, .boldfont-size img{
    height: 131px;
}
.news-link h4 {
    margin: 0 0 5px 0;
    font-size: .93em;
    line-height: 26px;

   /* padding-bottom: 35px;*/
}

/* end first portion*/
/*motamot*/
.motamot{
    background: #fff;
    margin-bottom: 20px;
    /*height: 225px;*/
}

.motamot h2{
        margin: 0;
        padding: 10px;
        color: #000;
        background: #d9d9d9;
        text-align: center; 
}
.motamot-div{
    padding: 15px;
}
.motamot-div img, .bg-img img{
    height: 55px;
}

.fixing-div{
   
        border-bottom: 1px solid #f1f1f1;
        padding-bottom: 15px;
}
.news-heading {
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 22px;
    font-size: .9em;
}
.fixing-div .div-padding .media-object {
    width: 105px!important;
}
.div-padding{
    padding-right: 10px;
}
.media{
    margin-top: 15px;
}
.media:first-child {
    margin-top: 0;
}
/* end motamot*/
.gap-rowtop{
    padding-top:25px;
}
.gap-rowtopbottom{
    padding-top: 20px;
    padding-bottom: 20px;
}
.gap-rowbottom{
    padding-bottom: 20px;
}
.gap-rowright{
    padding-right:10px;
}
.gap-rowleft{
    padding-left: 10px;
}
.gap-margintopbottom{
    margin-top:20px;
    margin-bottom:20px;
}
/*jonprio motamot tab*/
ul{
    list-style:none;
   
  }
  .clear{
    clear:both;
  }
 
  .tab .tab-menu ul li{
    float:left;
    margin-left:1px;
  }
  .tab .tab-menu ul li:first-child{
    margin-left:0px;
  }
  
  .tab .tab-menu ul li a{
    background: #ddd ;
    color: #000;
    display: block;
    padding: 8px 15px;
    font-size: 17px;
    text-decoration: none
   
  }
 
  .multitab-tab {
    width: 49.8%;
    text-align: center
  }
  .second-tab {
      width:33%;
  }
  .only-tab{
      width:100%;
  }
 
  .tab .tab-menu ul li a.active{
    border: none;
    border-radius: 0;
    background: #fff;
    color: #000;
    border-top: 3px solid #b30f0f;
  }
  .tab .tab-menu ul .only-tab a.active{
   
    background: #ddd;
   
   
  }
 
  .tab .tab-content{
    display:none; 
    
  }
 .multitab-section img, .vertical-category img{
     height: 42px;
 }
 
  .multitab-section .multitab-widget-content .media-list,  .multitab-section .photo-galary .media-list{
    display: inline-block;
    background: #fff;
    padding: 5px 20px 20px 20px;
    margin: 0;
    width: 100%;
  }

  
 .multitab-widget-content ul.media-list {
    max-height: 282px;
    overflow-y: auto;
    padding-left: 30px;
}
.media-list .media {
    border-bottom: 1px dotted gray;
    margin: 0;
    padding: 10px 0;
    position: relative;
    overflow: visible;
}

.media .media-left span {
    position: absolute;
    margin-top: -1px;
    left: -23px;
    height: 35px;
    width: 34px;
    background: black;
    text-align: center;
    line-height: 25px;
    color: #fff;
    border-radius: 50%;
    border: 4px solid #fff;
    top: 15px;
    z-index: 1;
}
.media .media-left a {
    padding-right: 0;
    position: relative;
}
.media .media-left img {
    width: 90px;
    display: inline-block;
    padding-right: 10px;
    font-size: 10px;
    line-height: 1;
    color: #a2a2a2;
}
.media .news-body .tabnews-heading {
    font-size: 0.90em;
    line-height: 1.35;
}
.allnews a {
    display: block;
    text-align: center;
    border: none;
    padding: 5px;
    color: #000;
    background: #f6f6f6;
    text-decoration: none;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    -o-box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.searchtab-section img{
    height: 130px;
}

.searchtab-section .news-body .tabnews-heading a{
    color: #ec5d64;
    font-size: 15px;
}
.searchtab-section .news-body small{
    font-size: 11px;
    color: #777;
}
.searchtab-section .news-body p{
    padding-top: 10px;
    font-size: 13px;
    line-height: 24px;
  opacity: 0.8;

}
.happynews-border{
    padding-bottom: 8px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 8px;
}
.happy-cat-position{
    position: relative;
}
.avobe-category{
    position: absolute;
    left:0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    padding: 2px 10px;
}
.avobe-category a{
    color:#fff;
    font-size: 13px;
}
.photo-not-found{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size: 1em;
}

.cul-padding a{
    padding: 10px;
    font-size:18px;
   
}
/*end jonoprio motamot tab*/
.empty-div{
    padding-top:20px;
    padding-bottom: 20px;
   
    margin-bottom: 20px;
}
/*st 2nd portion*/
.media-heading{
  
    margin-bottom: 5px;
}

.category-padding{
    padding-top:25px;
}
.second-portion{
    background-color: #fff;
    margin-top:20px;
}
.title {
    position: relative;
    overflow: hidden;
    font-size: 24px;
    padding-bottom: 15px;
}
.title a{
    padding:0px 10px 0px 10px;
   
}
.title .double-border::before {
    position: absolute;
    content: '';
    width: 100%;
    border-top: 6px solid rgb(160, 28, 54);
    top: 10px;
    display: inline-block;
    vertical-align: bottom;
}
.title .double-border::after {
    position: absolute;
    content: '';
    width: 100%;
    border-top: 6px solid rgb(160, 28, 54);
    top: 18px;
    display: inline-block;
    vertical-align: bottom;
}
.secondnews-div{
    background-color: #f1f1f1;
    
}
.secondnews-div .category-tag{
    background-color: #f1f1f1;
   border-top: 1px solid #fff;
}
.secondnews-link {
    padding-bottom: 20px;
}
.deshjure-padding .media img{
    width: 120px;
    line-height: 1;
    color: #ffafaf;
}
.deshjure-padding .media h4 {
    font-size: 14px;
}
.deshjure-padding .media i{
    font-size:10px;
}
.deshjure-padding .media .metacategory-tag a{
    display: inline-block;
    font-size: 10px;
    color: #868686;
}
.deshjure-padding .media {
    margin-bottom: 15px;
}
.mincategory .subnews-div{
    min-height: 210px!important;
    height: 210px!important;
    max-height: 210px!important;

}
.mincategory .subnews-div img{
    height: 95px;
}
/*end second portion st 3rd*/
.third-portion{
    margin-top: 35px;
    
}
/*single category div*/
.singlecategory-portion{
    background-color: #fff;
}
.boldfont-size h4{
    font-weight: bold;
    line-height: 20px;
    font-size:.90em;
    margin-bottom: 0;

} 
.reduce-height{
    min-height: 0px;
}

.vertical-category .media a{
    color:rgba(46, 46, 45,0.8);
    font-size: .88em;
}
.vertical-category .media{
    border-top: 1px dashed gray;
margin-bottom: 5px;
    padding: 10px 5px 0px 10px;
    overflow: hidden;

}
.vertical-category .media:last-child{
    margin-bottom: 0px;
}
/*end single category div*/
/*sakhatkar*/
.news-div .person{
    position: absolute;
    width: 100%;
    padding: 10px;
    right: 0;
    left: 0;
    border-top: 1px solid #eee;
    background: #fff;
    bottom: 0;
}
.news-div .person img{
    float: left;
    width: 40px;
    margin-right: 10px;
    height: 40px;
    border-radius: 50px;
}
.news-div .person a{
    font-size: 12px;
    color: #868686;

}
.interview .news-div .news-link{
    height: 150px;
    overflow: hidden;

}
.news-link i{
    color:#bcbcbc;
}
/*en sakhatkar st happynews*/
.happy-news .allnews a{
    background-color: rgb(160, 28, 54);
}
.daily-happynews .vertical-category .media{
    padding: 10px 5px 10px 10px;
}
.happynews-bg{
    background-color: rgb(46, 46, 45);
}
.happynews-bg a, .happynews-bg .vertical-category .media a{
    color: #fff;
}
/*end*/
/*photo*/
.photovedio-icon{
    position: absolute;
    color:rgb(46, 46, 45);
    left:10px;
    top:6px;
}

.big-photo{
    font-size: 40px;
}
.small-photo{
    font-size:25px;
}
.photo-div{
    margin-bottom: 20px;
}


/*back to top*/

.backto-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    background: rgba(220, 220, 220, 0.8);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgb(245, 81, 82);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 10;
    opacity: 0.7;
}

.backto-top i {
    color: rgb(160, 0, 0);
}

/* carsoul testimonals*/

/*carsoul testimonls end*/

.footer {
    background-color: rgb(32, 32, 34);
    padding-bottom: 30px;
}

.footer-nav h2 {
    color: #696969;
    font-size: 1.25rem;
}

.vertical-menu li {
    display: block;
    list-style-type: none;
}

.vertical-menu li a {
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1;
    color: #696969;
}

/* for subscribe*/

.subscribe-text {
    float: left;
    padding: 12px;
    font-size: 17px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: rgba(255, 255, 255, 0.02);
}

form.example input[type=text] {
    width: 60%;
}

form.example button {
    width: 30%;
    border-left: none;
    cursor: pointer;
}

.footer .social-icon {
    margin-top: 10px;
}

/*end subcribe*/

.news-img i {
    font-size: 50px;
    margin-right: 15px;
    margin-top: 20px;
    color: rgba(105, 105, 105);
}

.email-text {
    color: rgb(105, 105, 105);
    font-size: 20px;
}
.i-color{
    color: rgb(160, 28, 54);
}

.innerpage-header {
  
    background: #fff;
   
    background-repeat: no-repeat;
    background-position: right;
}
.category-name{
    padding-top:10px;
}
.first-category {
    background-color:rgba(0,0,0,0.2);
  
}
.sub-category{
    height: 52px;
}
.sublist-category{
    background-color: #f5f5f5;
    border-radius: 4px;
    padding-top: 10px;
}
.sublist-category li {
    display: inline-block;
    font-size:12px;
    
}
.innercat-news h3{
    font-size:1.5em;
    line-height:30px;
    margin-bottom:10px
}
/*.reduce-padding{
    margin-left: -10px;
}*/
.cat-div{
    height: 90px;
    min-height: 0;
    overflow: hidden;
}
 .cat-div img{
    height: 90px;
}
.cat-div h4{
    font-size:1.1em;
}
.cat-img img{
    height: 272px;
}
/* more news news*/
#more-news{
    background: rgb(160, 28, 54);
    display: block;
    text-align: center;
    border: none;
    padding: 15px;
    color: #fff;
    width: 100%;
}

/*social-icon inerr news*/


/**/

.mblogo {
    padding-top: 15px;
}

/*category dropdown*/

.menu-dropdown {
    position: absolute;
    margin-top: 3px;
    font-size: 24px;
    left: 30px;
    height: 34px;
    width: 34px;
    text-align: center;
    line-height: 34px;
    background: rgba(0, 0, 0, 0.15);
    color: #000;
    cursor: pointer;
}

.menu-warp {
    width: 66%;
    left: 30px;
    top: 47px;
    box-shadow: 0px 4px 5px #000;
    height: auto;
    position: absolute;
    z-index: 5;
    background: #fff;
}

.secondary-menu li {
    display: block;
    float: none;
    border-bottom: 1px solid #eaeaea;
}

.secondary-menu a {
    line-height: 44px;
    padding: 0 10px;
    font-size: 16px;
    color: #000;
}

.ptag-text {
    font-size: 14px;
}

/* for single news*/
.padding-top15{
    padding: 15px;
}
.timing-details{
    border-top: 1px solid #f3f3f3;
    margin: 10px 0;

}
.single-news img{
    margin:5px 8px 0px 0px;
    width:40px;
    height:40px;
    border-radius:100%;
    display:inline-block;
}
.social-share .share-count{
    display: inline-block;
    position: relative;
    width: 100px;
    border-right: 1px solid #cecece;
    margin-right: 15px;
    text-align: center;
    color: rgb(102, 102, 102);
    line-height: 1;

}
.share-number{
    font-weight: bold;
    font-size: 26px;
    display: block;
}
.social-share .social-media{
    text-align: left!important;
    display: inline-block;
    margin-bottom: 20px;
    padding: 0;
}
.social-icon li button {
    color: #000;
    border: none;
    background: none;
    padding: 0;
}
.social-media li button i {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    text-align: center;
    line-height: 34px;
   color: #fff;
}
.social-media button .fa-facebook-f {
    background: #3b5998;
}
.social-media button .fa-twitter{
    background: #00aced;
}
.social-media button .fa-google-plus-g{
    background: #d34836;
}
.social-media button .fa-print, .social-media button .fa-envelope {
    background: #969696;
}
.social-media button .fa-share-alt{
    background: #95D03A;
}
.singlenews-maximg img{
    max-height: 307px;
}
.random-caption{
    padding: 0 15px;
    font-size: 14px;
    color: gray;
    font-style: italic;
}
.singlenews-details{
    padding: 15px 15px 0 15px;
}
.singlenews-details p {
    line-height: 30px;
}
.auto{
    min-height: inherit!important;
    padding: 15px;
}
.news-tags li a{
    border: 1px solid #eee;
    display: block;
    background: #fff;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding: 2px 10px;
    margin:2px 0;
}
.news-tags ul{
    margin: 0;
    padding: 0;
     list-style: none; 
     background: #fff;

}
.news-tags ul li{
    display:inline-block;
}
/*.time-font{

    font-size:14px;
    line-height: 1;
}*/
/*individual comnt*/

.newsslide {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
}

.newsslide a {
    color: #000;
    z-index: 10;
}

.newsslide i {
    height: 100px;
    background: #909090;
    color:rgb(160, 28, 54);
    line-height: 100px;
    padding: 0 5px;
}

.prev-news #post_info {
    left: -271px;
}

#post_info {
    position: absolute;
    width: 300px;
    height: 100px;
    top: 0;
    background: #dcdcdc;
    padding: 10px 5px 10px 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    z-index: -1;
    overflow: hidden;
}

.post_thumbnail img {
    width: 120px;
    height: 70px;
    float: left;
    margin-right: 5px;
    font-size: 12px;
    line-height: 1;
    color: rgba(40, 51, 49, 0.33);
    margin-top: 5px;
}

.post_headline {
    padding-top: 3px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.newsslide.post-news {
    right: 0;
}

.post-news #post_info {
    right: -271px;
}

.newsslide.post-news:hover #post_info {
    right: 0;
}

.newsslide.prev-news:hover #post_info {
    left: 0;
}

/*photo category*/
.photo-divheight {
    position: relative;
    margin-bottom: 20px;
    height: inherit;
}
.photo-divheight .news-link{
    min-height: 0px;
}
.photo-divheight .news-link h4{
    font-size: 1em;
}
.photo-divheight img{
    height: 174px;
}
.clickable-news{
    padding-top: 20px;
}
/* ajker sob khobor dropdown*/

@media (max-width: 576px) {
    .header,
    .third-header,
    .menu li a,
    .search-bar,
    .desktop-prevnext,.photo-gap-div {
        display: none;
    }
  
    .footer .social-icon {
        margin-left: 60px;
    }
    .reduce-padding{
        margin-left: 0px;
    }
    .main-div{
        min-height: 540px;
        max-height:540px;
        overflow: hidden;
    }
    .main-div img{
        height:230px;
    }
    .single-news-margin{
        margin-top: 20px;
    }
    .extend-padding{
        padding-left: 10px;
    }

}

@media (min-width: 577px) {
    .category-submenu,
    .mobile-prevnext,
    .mobile-header,
    .search-header {
        display: none;
    }
}

@media (max-width: 768px) {}

@media (max-width: 1024px) {
    .nav-item {
        font-size: 12px;
    }
    .main-div img{
        height: 230px;
    }
    .title{
        font-size:20px;
    }
}