

* {
    margin: 0;
    padding: 0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: none;
    color: rgb(245, 81, 82);
}

.text-color:hover {
    color: rgb(245, 81, 82);
}
.text-center{
    text-align: center;
}
img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.small-img img {
    height: 100px;
    width: 100px;
    margin-right:25px;
}

.button-text {
    color: white;
}

.news-text {
    color: #333333;
}
/*mobile menu*/
.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 300px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
    background-color: rgb(46, 46, 45);
  }
  #panel .toggle-button{
    background-color: transparent !important;
    border: 0;
    color: #bbb;
    font-size: 30px;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-top: 12px;
  }
  .slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #fff;
  }

  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }

  .slideout-open .slideout-menu {
    display: block;
  }
  /*mobile logo*/
  .menu-border{
    border-right: 1px solid rgba(255,255,255,0.05);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    height:72px;     
  }
  
  .secondmenu{
      height:50px;
  }
  .site-info{
    padding: 1.25rem;
  }
  #menu .button{
    font-size: 13px;
    padding: 5px 13px 5px 13px;
  }
 .menu-top{
    margin-top: 20px;
 }
 .vertical-ul  li{
     border-bottom: 1px solid rgba(255,255,255,0.05);
     padding: 1.4375rem ;
 }
 .vertical-ul li a{
     padding-left: 25px;
    font-family: 'Merriweather',Georgia,Serif;
    font-size: 17px;
    font-weight: 900;
    line-height: 1;
    color:rgb(245, 81, 82);
  
 }
 .side-menu{
     position: relative;
 }
 .submenu-parent>a:after{
    content: '+';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 60px;
    margin-top: 0;
    border: none;
    line-height: 60px;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,0.05);
 }
/*end menu*/
/*start first-header*/

.first-header {
    height: 72px;
    background-color: rgb(46, 46, 45);
}

.header-bottom {
    border-bottom: 1px solid rgba(242, 242, 242, 0.05);
}
.morenews-bottom{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
/*social links */

.social-icon {
    padding-top: 20px;
}

.icon-color {
    color: rgb(245, 81, 82);
}

.icon-border {
    background-color: rgba(255, 255, 255, 0.05);
    display: inline-block;
    font-size: 20px;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50px;
}

.social-icon li {
    display: inline;
}

/*end social links*/

/*starts logo*/

.logo-img {
    padding-left: 60px;
}

.logo-img img {
    height: 65px;
    width: 260px;
}

/*end logo.. start login*/

.logreg-button {
    color: white;
    padding: 7px 18px 7px 18px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
   
}

.log-reg {
    padding-top: 23px;
}

.log-color {
    background-color: rgba(255, 255, 255, 0.05);
}

.reg-color {
    background-color: rgb(0, 122, 204);
    margin-left: 10px;
}

/*end-first heade start second headerr*/

.second-header {
    height: 72px;
    background-color: rgb(46, 46, 45);
}

/*dropdown menu start*/

.navbar-custom {
    height: 72px;
}

.nav-item {
    font-size: 15px;
    font-weight: 900;
    padding: 15px 0 14px 0px;
}

.ddown {
    color: white;
}

.dropdown-item {
    color: rgb(245, 81, 82);
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    visibility: hidden;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: rgb(46, 46, 45);
    position: absolute !important;
}

.dropdown:hover {
    border-top: 1px solid rgb(245, 81, 82);
}

.dropdown-submenu {
    position: relative;
}

.dropdown-menu .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgb(245, 81, 82);
}

.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu:focus .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
    visibility: initial;
}

/*end drodown and start topic*/

/* start 3rd header*/

.third-header {
    height: 52px;
    border-bottom: 1px solid rgb(242, 242, 242);
}

.topic h5 {
    font-weight: 700;
    padding: 12px 20px 0 0;
}

.menu li {
    display: inline-block;
    padding-top: 10px;
}

.menu li a {
    color: gray;
    font-size: 13px;
    font-weight: 900;
    padding: 18px 12px;
}

/* start-search bar style*/

.search-bar {
    width: 365px;
    top: 8px;
    position: relative;
}

.search-bar input#search {
    width: 352px;
    height: 35px;
    border: 1px solid rgb(242, 242, 242);
    font-size: 16px;
    float: left;
    color: #63717f;
    padding-left: 25px;
    border-radius: 5px;
}

.search-bar .icon {
    position: absolute;
    right: 24px;
    top: 6px;
    font-size: 14px;
    z-index: 1;
    color: rgb(106, 106, 106);
    cursor: pointer;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
    border-color: rgb(223, 223, 223);
    box-shadow: 0 1px 1px rgba(223, 223, 223, 0.075) inset, 0 0 8px rgba(223, 223, 223, 0.6);
    outline: 0 none;
}

/*end search and end 3rd header*/

/*start body*/

.first-portion {
    margin-top: 30px;
}

.inner {
    position: relative;
    margin-bottom: 30px;
}

.news-content {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 75%;
}

h4,h3,h5,h2,h6{  
    font-family: 'Merriweather', Georgia, Serif;
    font-weight: 800;
    line-height:1.5;
   
  
}

h4{
    font-size: 20px;
    line-height: 1.65;
   
}
h5 {
    font-size: 18px;   
    font-weight: 600;
    line-height: 1.4;
}

h3 {
    font-size: 27px;
   
}

.news-link a {
    line-height: 1.54;
    display: inline;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 10px 0 0 rgba(0, 0, 0, 0.8);
}

/*link small-tab or icon*/

.icon-bar a {
    background-color: rgb(245, 81, 82);
    font-family: 'Merriweather', Georgia, Serif;
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1;
    margin-left: -3px;
    letter-spacing: 0.0625rem;
}

.icon-bar a:hover {
    background-color: rgb(160, 0, 0);
}

.icon-bar a:hover {
    color: white;
}

/*end-first-portiob*/

/*second-portion*/

.newsicon-position {
    position: absolute;
    top:30px;
    left:45px;
  
}
.highlight{
    position: relative;
    margin-bottom: 40px;
    padding-left: 10px;
}
.highlight h5{
    padding-top: 20px;
}
.highlight-position{
    position: absolute;
   top:55%;
  /*160, 278*/
}
.highlight-title{
    margin:10px 0px 40px 10px;
   
}
.read-title{
margin-left: 10px;
}
.news-date {
    font-size: 13px;
    font-weight: 800;
    color: gray;
    letter-spacing: 0.0625rem;
}
.second-portion h5{
    padding-top: 25px;
}
.second-portion h6{
    padding-top:15px;
}
/*end secondr row start 3rd row*/

.headings {
    background-color: #333333;
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 8px 10px 0;
}

.ordernews-link li {
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.horizontal-border {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.fixing-div {
   position: relative;
 height: 100px;
  
}

.content {
    margin-top: 40px;
    padding-left: 10px;
}

.meta-link {
   padding-top:30px;
    
 
}
.smallicon-position {
    position: absolute;
   top:60px;
   left: -10px;
 
   
}
/*feature section*/
.feature .headings{
    position:absolute;
}
.feature-news{
    margin-top:10px;
    background-color:  rgb(32, 32, 34);
    padding-bottom: 10px;
   
}
.featnews-margin{
padding-top: 20px;
padding-left: 20px;
}
/*4th portion for popular news*/

.fourth-portion {
    background-color: rgb(32, 32, 34);
    margin-top: 10px;
}


/*popular section*/
.popular {
    margin-top: 40px;
}

.date-category {
    margin-top: 20px;
}

.category {
    font-size: 13px;
    color: rgb(245, 81, 82);
}

.category:hover {
    color: rgb(160, 0, 0);
}

.popular-news {
    color: rgb(105, 105, 105);
}

.popular-news:hover {
    color: rgb(138, 138, 138);
}

.pplnews-margin {
    margin-bottom: 50px;
    padding-top: 35px;
}
/*end fourth row start 5th row*/
.title{
    position: relative;
    padding-left: 20px;
    color:rgb(160,28,54);
   
}

.title:before {
    content : "";
    position: absolute;
    left:0;
    z-index: 100;
    top:13px;
    width: 4px;
    height: 30%;
    background:black;
  }

.newsdate-small{
    color: white;
    font-size: 13px;
    margin-bottom: 15px;
}
.sports-margin {
    margin-bottom: 30px;
    padding-top: 35px;
}
/*most read today*/
.read-news{
    margin-top:15px;
}
.read-date{
    padding-top: 5px;
}
/*popular date*/
.big-date{
    float: left;
    padding-right: 18px;
    margin: 0 20px 8px 0;
    border-right: 1px solid rgba(0,0,0,0.05);
}
.month{
    text-align: center;
    display:block;
}
.day{
    display: block;
    font-size:30px;
    font-weight: 100;
    line-height: 40px;
}
.year{
    display: block;
    font-size: 13px;
    text-align: center;
}
.block-date{
    margin-bottom:20px;
}
.popular_news-date{
    margin-top:20px;
    margin-left: 5px;
}
.popular-blog{
  height:300px;
    padding-left: 10px;
}
.sixth-portion{
    margin-top:20px;
    background-color: rgb(32, 32, 34);
    padding-bottom: 30px;
}
.img-slide{
   margin-top: 30px;
    margin-right: 10px;
}
.gallery-margin{
    margin-top: 75px;
 
}

.gallery-hr{
    background-color: gray;
}
.post{
    padding-left: 20px;
}
.recent-post{
    margin-bottom: 15px;
}
/*jonmot*/
.recent-post i{
    font-size: 30px;
}
/*back to top*/
.backto-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    background: rgba(220,220,220,0.8);
    width: 40px;
    height: 40px;
    line-height: 40px;
    border:1px solid rgb(245, 81, 82);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 10;
    opacity: 0.7;
}
.backto-top i{
    color: rgb(160, 0, 0);
}
/* carsoul testimonals*/
.last-portion {
    position: relative;
    padding-top: 30px;
  }
 
  #customers-testimonials .item {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .owl-carousel .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
 .owl-carousel .owl-nav [class*='owl-'].disabled:hover {
    background-color: black;
  }
  
  .owl-carousel {
    position: relative;
  }
  
  .owl-carousel .owl-next,
  .owl-carousel .owl-prev {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    font-size: 20px;
    color:white;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid black;
    text-align: center;
  }
  
  .owl-carousel .owl-prev {
    left: 0px;
  }
  
  .owl-carousel .owl-next {
    right: 0px;
  }
/*.owl-carousel .item{
    position: relative;
}
 .carsol-position{
     position: absolute;
     top:50px;
 }*/ 
/*carsoul testimonls end*/
.footer{
    background-color: rgb(32, 32, 34);
    padding-bottom: 30px;
}
.footer-nav h2{
    color: #696969;
    font-size: 1.25rem;
  
}
.vertical-menu li{
    display: block;
    list-style-type: none;
}
.vertical-menu li a{
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1;
    color: #696969;
}

/* for subscribe*/

.subscribe-text{
    float: left;
    padding:12px;
    font-size: 17px;
    border: 1px solid rgba(255,255,255,0.05); 
    background: rgba(255,255,255,0.02);
}
form.example input[type=text] {   
    width: 60%;  
}
form.example button {    
    width: 30%;
    border-left: none;
    cursor: pointer;
}
.footer .social-icon{
    margin-top: 10px;
}
/*end subcribe*/
.news-img i{
    font-size: 50px;
    margin-right: 15px;
    margin-top: 20px;
    color: rgba(105,105,105);
    
}
.email-text{
    color:rgb(105,105,105);
    font-size: 23px;
}
/*.triangle-right {
	width: 0;
    height: 0;  
	border-top: 25px solid transparent;
	border-left: 50px solid #333333;
    border-bottom: 25px solid transparent;
    position: absolute;
    padding: 8px 10px 0;
     top:10px;
  

}
.headings-tringle{
    position: relative;
}*/
.innerpage-header{
    background: #f0f0ed;
   background-image:url(../images/back.png);
   background-repeat: no-repeat;
   background-position:  right; 
  
}
/* clickable news*/
.category-name{
    padding-top: 10px;
}
.sub-category{
    background:rgba(0,0,0,0.2);
}
.readnews-line{
    line-height: 1.8;
}
.clickable-news{
    margin-top: 20px;
}
/*.node{
    font-size:fdh;
}*/
/*social-icon inerr news*/
.additional-list a{
    float: left;
    font-size:22px;
    width: 60px;
    height: 74px;
    line-height: 74px;
    text-align: center;
    padding: 0;
    margin: 0;
   
}
.tag-padding{
    padding-right:10px;
}
.news-by{
    padding: 0.9375rem 0;
    margin-bottom: 1.875rem;
    border-top: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
/* photo camera icon*/
.photovedio-icon{
    position: absolute;
    color: rgb(32, 32, 34);
    left:10px;
    top:6px;
}

.big-photo{
    font-size: 40px;
}
.small-photo{
    font-size:25px;
}
.photoframe-div{
    position: relative;
    background-color: rgb(248, 248, 248);
    padding-bottom: 25px;
}
/*end*/
/*for more news*/
.morenews-button {
    color: white;
    padding: 12px 60px 12px 60px;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    background-color:rgb(160,28,54);
    margin-left: 80px;
}
.morenews-button:hover{
    background-color: rgb(245, 81, 82);
    color:white;
}
/*end*/
.comment-section{
   padding: 40px 0px 40px;
}
/*whole search*/

@media (max-width: 576px) {
    .header{
        display: none;
    } 
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 14px;
    }
    h5{
        font-size: 12px;
    }
    .news-content {
        bottom: 20px;
    }
}

@media (min-width: 577px) {
    .mobile-header{
        display: none;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 992px) {
    
}
